- var title = "Shortify My URL"
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
        title= title
    body
        header
            h1= title
        form(action="/", method="POST", onsubmit="this.submit(); this.reset(); return false;")
            input(type='text', class='inputBox', name='url', placeholder='Put your long URL here')
            input(type='submit', class='btn-submit', value='Make it short!')
        span= result
        footer
            if count > 0
                p We've already shortified #{count} URLs
script
    include ../public/script.js
