- var title = "Shortify My URL"
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
        title= title
    body
        header
            h1 Ooooops...
            h2 We don't know what is hiding behind this short URL
