*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-background: #FAFAFA;
    --clr-dark: #0C0E36;
    --clr-light: #FFF;
    --clr-error: #F70058;
    --clr-selected: #e9eee6;
}

body {
    background-color: var(--clr-background);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 1em;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main {
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.main-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-form-input,
.main-form-btn {
    margin: 1rem 0;
    max-width: 100%;
}

.main-form-input {
    background-color: transparent;
    border: none;
    text-align: center;
    border-bottom: 2px solid;
    transition: border-bottom-color 0.3s ease-in-out;
}

.main-form-input:focus {
    outline: none;
    border-bottom-color: #56BC58;
  }

.main-form-btn {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75em 1.25rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
}

.main-form-btn:hover {
    cursor: pointer;
    background: var(--clr-selected);
    transition: all 0.3s ease;
}

.main-error {
    padding: 1rem;
    font-weight: 900;
    color: var(--clr-error);
}

.main-count {
    padding: 1rem;
    font-weight: 400;
}

.result {
    background: var(--clr-selected);
}

.main-button-copy {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    padding: 0.5px;
    text-align: top right;
    border: 1px solid;
    border-radius: 5px;
}

.main-button-copy:hover {
    cursor: pointer;
    background: var(--clr-selected);
    transition: all 0.3s ease;
}
