* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    text-align: center;
}

header > h1 {
    text-align: center;
}

.inputBox {
    margin: 10px;
}

.btn-submit {
    margin: 10px;
}
