*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-background: #fafafa;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --clr-error: #f70058;
  --clr-selected: #e9eee6;
  --font: "Work Sans", sans-serif;
}

body {
  background-color: var(--clr-background);
  font-family: var(--font);
  font-size: 1.125rem;
  color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1em;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main,
.footer {
  text-align: center;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

.main-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-form-input,
.main-form-btn {
  margin: 1rem 0;
  max-width: 100%;
}

.main-form-input,
.stats-form-input {
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 2px solid;
  transition: border-bottom-color 0.3s ease-in-out;
  font-family: var(--font);
}

.main-form-input:focus,
.stats-form-input:focus {
  outline: none;
  border-bottom-color: #56bc58;
}

.main-form-btn,
.stats-form-btn,
.collapsable-btn {
  border: 1px solid;
  border-radius: 5px;
  background-color: transparent;
  font-family: var(--font);
}

.main-form-btn {
  font-size: 1rem;
  padding: 0.75em 1.25rem;
}

.stats-form-btn,
.collapsable-btn {
  font-size: 0.8rem;
  padding: 0.2em;
  margin: 0.5em;
}

.main-form-btn:hover,
.main-button-copy:hover,
.collapsable-btn:hover {
  cursor: pointer;
  background: var(--clr-selected);
  transition: all 0.3s ease;
}

.main-error {
  padding: 1rem;
  font-weight: 900;
  color: var(--clr-error);

  display: table;
  margin-left: auto;
  margin-right: auto;
}

.main-count {
  padding: 1rem;
  font-weight: 400;
}

.main-result {
  background: var(--clr-selected);
}

.main-button-copy {
  font-family: var(--font);
  font-weight: 400;
  background-color: transparent;
  border: none;
  margin-left: 1rem;
  padding: 0.5px;
  text-align: top right;
  border: 1px solid;
  border-radius: 5px;
}

.about {
  overflow: hidden;
  font-size: 0.8rem;
  text-align: center;
}
